<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Pagina Principal</title>
</head>	
	<body>
		<div id="getting_started">
  			</div>
			    <span py:choose="">
	  					<span py:when="session['admin_sistema']==False">				
						<h3 style="margin-top:1px;">
							<a href = "/principal">Proyectos</a>
							<label> / </label>
							<a href="/fase/fases_por_proyecto?id_proyecto=${session['id_proyecto']}"> ${session['proyecto']} </a>
							<label> / </label>
							<a href="/item/items?id_fase=${session['id_fase']}"> ${session['fase']} </a>
							<label> / </label>
							<a href="/tipoItem"> Tipos de Item </a>
							<label> / </label>
							<a> Importar </a>
						</h3>
					</span>
				</span>      	
	<form action="/tipoItem/s_importar" method="POST" name="importForm">
		<input type="hidden" name="id_rol" value="$id"/>
	  	<table>
	  		<tr>
	  			<td>
				  	<div class="crud_table" width="100%"> 
			        	<div> 
							<table class="grid" border = "1" width="300px">
			        			<thead>
									<th>Tipos de Item</th>
			            		</thead>
			            		<tbody>
			            			<tr class="even" py:for="p in tipos">
			        	    			<td>
			            					<input type="checkbox" name="selected_tipos" value="${p.id_tipo_item}" /> ${p.nombre}
			            				</td>
						            </tr>			            
			        			</tbody>
				        	</table>
			        	</div>
		        	</div>
	        	</td>
       		<td>	
				<div align="right">	
					<button type="submit" name="id" value="Aceptar" title="Aceptar">
						<img src="${tg.url('/images/ok.png')}" alt="Aceptar" width="28" height="28" />
						<br /> Aceptar
					</button>
					<button type="submit" name="vaccion" value="cancelar" title="Aceptar">
						<img src="${tg.url('/images/error.png')}" alt="Cancelar" width="24" height="28" />
						<br /> Cancelar
					</button>
				</div>			
        	</td>
       	</tr>
    	</table>
	
	</form>	
	</body>
</html>
