<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Pagina Principal</title>
</head>	
	<body>
		<div id="getting_started">
			<div class="notice" style="margin:0 100 0 200;">Ordenamiento de fases </div>
	  	</div>
      	
	<form action="/fase/s_ordenar" method="POST">
		  	<div class="crud_table" style="height:50%; width:90%"> 
	        	<div> 
					<table class="grid" border = "1" width="50%">
	        			<thead>
							<th>Posicion</th>
							<th>Fase</th>
	            		</thead>
	            		<tbody>
	            			<tr class="even" py:for="f in fases">
				                <td>
				                	<select name="posicion" >
				                		<option py:for="p in orden" value="$p#$f.id"> $p</option>
				                	</select>
				                </td>
				                <td>
				                	${f.nombre}
				                </td>
				            </tr>
	        			</tbody>
		        	</table>
	        	</div>
        	</div>
        	<table><tr><td>
				<button type="submit" name="submit" value="terminar" title="Aceptar">
					<img src="${tg.url('/images/ok.png')}" alt="Aceptar" width="28" height="28" />
					<br /> Terminar Creacion de Proyecto
				</button>
			</td><td>
				<button type="submit" name="submit" value="editar" title="Aceptar">
					<img src="${tg.url('/images/editar.png')}" alt="Aceptar" width="28" height="28" />
					<br /> Seguir editando proyecto
				</button>
			</td></tr></table>
			
      </form>	
	</body>
</html>