<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/5001/XInclude"
      py:strip="">
<py:def function="menu_tipo_item">
			<table>
				<tr>
					<td style="padding:0px 70px 0px 10px;">					
						<form action= "/tipoItem/buscar" method="post" >
							<input type="text" name="parametro"  onclick="this.value=''" value="Introducir el nombre" />
								<button type="submit" value="Buscar">
								<img src="${tg.url('/images/buscar.png')}" width="28" height="28" alt="ABM Usuarios" />            		
							</button>
						</form>
					</td>					
					<td style="padding:0px 70px 0px 10px;">
						<form action="/tipoItem/post" method = "post">
 							<div class="crud_table"> 
								<table class="grid" border = "1" width="10%">
  								<thead><th>Nuevo Tipo de Item</th><th></th><th></th></thead> 
           							<tbody>
           								<tr>
           									<td>Nuevo tipo de item:</td>
           									<td> 
           										<input type="text" name="nombre" onclick="this.value=''" value="Introducir el nombre..." />
    	       								</td>
        	   								<td>
												<button type="submit" name="tipo" value="" title="Aceptar">
													<img src="${tg.url('/images/agregar.png')}" alt="Aceptar" width="28" height="28" />
													<br /> Crear
												</button>
           									</td></tr> 
										</tbody>
								</table>
							 </div>
						</form>
					</td>
					<td style="padding:0px 70px 0px 10px;">					
						<form action= "/tipoItem/importar" method="post" >
							<button type="submit" value="Importar">
								<img src="${tg.url('/images/importar.png')}" width="48" height="48" alt="ABM Usuarios" />
								<br /> Importar
							</button>
						</form>
					</td>								
				</tr>
			</table>
	</py:def>
</html>